body {
<<<<<<< HEAD
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
=======
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
<<<<<<< HEAD
>>>>>>> 463b3b4 (styles)
}
=======
}
form {
    display: flex;
    justify-content: center; /* centers items horizontally */
    gap: 10px;               /* space between input and button */
    margin-top: 20px;
}
>>>>>>> b0d8d1e (let go styles)
